body {
    background-color: Lightblue;
}
.title{
  text-align: center;
  font-size: 800%;
  font-family: 'Luckiest Guy', cursive;
 }
h1 {
  font-family: Charmonman
}
h2{

  font-family: cursive;

}
p {
  font-family: time new roman;
 
}
.nav{
  background-color: Coral;
  height:50px;
  position: fixed; 
  margin: 0% 70% 0% 70%;
  top: 0; 
  width:30%;
}
.nav li{
  display: inline-block;
}
.nav ul{
  margin: 0px;
  text-align: center;
}
.nav a{
  font-family: 'Bangers', cursive;
  display: block;  
  color: black;
  text-align: center; 
  padding: 10px 20px;
  font-size: 180%;